{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a href="{% url 'briefing_page' %}" class="navbar-brand p-1">
    <img src="{% static 'briefing/img/logo.png' %}" height="20" />
  </a>

  {% if user.is_authenticated %}
  <div class="d-flex justify-content-end">
    <div class="p-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="limegreen"
        class="bi bi-door-open"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"
        />
        <path
          d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"
        />
      </svg>
    User: {{ user.username }}</div>
    <!---->
    {% else %}
    <div class="d-flex justify-content-end">
      <div class="p-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      class="bi bi-door-closed"
      viewBox="0 0 16 16"
    >
      <path
        d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"
      />
      <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" />
    </svg>
  
    User: Guest</div>{% endif %}
  
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div
    class="collapse navbar-collapse bg-white text-center m-1"
    id="navbarText"
  >
    <div class="navbar-nav p-1">
      {% if user.is_authenticated %}
      <a href="{% url 'profile' %}" class="btn btn-grey border m-1">Profile</a>
      <a href="{% url 'logout' %}" class="btn btn-grey border m-1"
        >LogOut User</a
      >

      {% else %}
      <a href="{% url 'login' %}" class="btn btn-grey border m-1">
        LogIn User
      </a>
      <a href="{% url 'register' %}" class="btn btn-grey border m-1">
        Register NewUser</a
      >
      {% endif %}
      <a href="{% url 'admin:index' %}" class="btn btn-grey border m-1">
        Admin LogIn</a
      >
      <a href="{% url 'briefing_page' %}" class="btn btn-grey border m-1"
        >Home</a
      >
    </div>
  </div>
</nav>
